[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
workshop = {editable = true, path = "./workshop"}
nbstripout = "*"
scikit-learn = "==1.2.2"
fasttext = "*"
nltk = "*"
zhon = "*"
xgboost = "*"
openpyxl = "*"
mlflow = "==2.5.0"
pydantic = "==1.10.12"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
